/* Asegura que el cuerpo de la página tenga al menos la altura completa */
html, body {
  height: 100%; /* Ocupa toda la altura de la ventana */
  margin: 0; /* Quita márgenes por defecto */
}

/* Contenedor principal */
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hace que el contenedor principal tenga al menos la altura de la ventana */
}

/* Contenido principal */
main {
  flex-grow: 1; /* Hace que el contenido principal crezca para llenar el espacio disponible */
}

/* Asegura que el footer se quede al final */
footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  width: 100%;
}

/* Estilos para las tarjetas del producto */
.card {
  border: 1px solid #ddd;
  border-radius: 12px; /* Bordes más redondeados */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  margin-bottom: 25px;
}

/* Estilo de la imagen de las tarjetas */
.card img {
  width: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
  height: 200px; /* Tamaño fijo para la imagen */
  object-fit: contain; /* Asegura que la imagen se vea completa sin recortes */
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Título de la tarjeta */
.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 15px;
}

/* Descripción del producto */
.card-text {
  font-size: 15px;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.5;
}

/* Estilo para el precio del producto */
.text-precio {
  font-size: 32px; /* Aumenta el tamaño del precio */
  color: #28a745; /* Cambiar color (ejemplo: color tomate) */
  font-weight: bold;
  margin-bottom: 15px;
}

/* Estilo del botón de agregar al carrito */
.btn-success {
  font-size: 16px;
  padding: 12px 25px;
  background-color: #007900cb;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 50%;
}

.btn-success:hover {
  background-color: #007900cb;
}

/* Estilo para el botón de historial de precios */
.btn-historial {
  font-size: 16px;
  padding: 12px 25px;
  background-color: #e2c209;
  color: #ffffff;
  border-radius: 10px;
  width: 50%;
  border: none; /* Eliminar cualquier borde */
  outline: none; /* Eliminar el borde de enfoque */
  box-shadow: none; /* Eliminar cualquier sombra */
}

.btn-historial:hover {
  background-color: #e2c209; /* Mantener el mismo color en hover */
}

.btn-historial:focus {
  outline: none; /* Eliminar el borde de enfoque */
}

