/* Estilos generales */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos del header */
nav {
  background-color: #333;
  color: #fff;
  padding: 15px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

/* Contenedor de Marcas */
.marcas-container {
  margin: 20px auto;
  text-align: center;
  width: 100%;
}

/* Contenedor de las cartas de marcas */
.marca-cuadrados-container {
  display: flex;
  overflow-x: auto; /* Permitir desplazamiento horizontal */
  padding: 10px;
  scroll-behavior: smooth; /* Desplazamiento suave */
}

/* Estilo individual de la carta */
.marca-cuadro {
  background-color: #ffffff;
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px; /* Ancho mínimo para cada carta */
  margin-right: 10px; /* Separación entre cartas */
  flex: 0 0 auto; /* Evitar que las cartas se expandan */
}

/* Estilo del texto de la carta */
.marca-nombre {
  font-size: 18px;
  font-weight: bold;
}

/* Contenedor de Productos */
.productos-container {
  margin: 40px auto;
}

.producto-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto-imagen {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.producto-info h4 {
  font-size: 20px;
  font-weight: bold;
}

.producto-precio {
  font-size: 18px;
  color: #333;
}