{% extends 'service/baseplantillaNav.html' %}

{% load static %} 

{% block title %}Productos en la Categoría - {{ categoria }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/menu.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text-center my-4">Productos en la Categoría: {{ categoria }}</h1>
    
    <div class="row">
      <!-- Aside para búsqueda y filtro -->
      <aside class="col-md-3" style="position: sticky; top: 10%; max-width: 250px;">
        <div class="card p-3">
          <h5>Buscar Producto</h5>
          <input type="text" class="form-control mb-3" id="busqueda-producto" placeholder="Buscar por nombre" oninput="filtrarProductos()">
          
          <div id="rango-precio"></div>
          <p>Rango de precio seleccionado: $<span id="precio-minimo"></span> - $<span id="precio-maximo"></span></p>

          <button id="sortAscBtn" class="btn btn-primary btn-block mb-2" onclick="ordenarProductos('asc')">Menor a Mayor</button>
          <button id="sortDescBtn" class="btn btn-primary btn-block" onclick="ordenarProductos('desc')">Mayor a Menor</button>
        </div>
      </aside>

      <!-- Contenedor de productos, con un id específico -->
      <div class="col-md-9">
        <div id="productos-container" class="row"> <!-- Asegúrate de que esté envuelto en una fila (row) -->
          {% for producto in productos %}
          <div class="col-md-4 mb-3">
            <div class="card producto-card" style="min-width: 16rem; height: 100%;">
              <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}" class="card-img-top producto-imagen" style="object-fit: cover;">
              <div class="card-body producto-info">
                <h5 class="card-title producto-nombre">{{ producto.nombre }}</h5>
                <p class="card-text producto-descripcion">{{ producto.descripcion }}</p>
                <p class="card-text producto-precio"><strong>{{ producto.precio }}</strong></p>
                <p class="card-text producto-marca">{{ producto.marca }}</p>
                <a href="{% url 'producto' id=producto.id %}" class="btn btn-primary">Ver detalles</a>
              </div>
            </div>
          </div>
          {% empty %}
          <div class="col-12 text-center">
            <p>No hay productos disponibles en este momento.</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block javascript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.1/nouislider.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.1/nouislider.min.js"></script>
<script src="{% static 'app/js/menu.js' %}"></script>
{% endblock %}
