{% extends 'service/baseplantillaNav.html' %}

{% block title %}Productos en la Categoría - {{ categoria }}{% endblock %}



{% block content %}
  <h1>Productos en la Categoría: {{ categoria }}</h1>

  <section class="productos-container">
    {% for producto in productos %}
    <div class="producto-card">
      <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}" class="producto-imagen">
      <div class="producto-info">
        <h4 class="producto-nombre">{{ producto.nombre }}</h4>
        <p class="producto-descripcion">{{ producto.descripcion }}</p>
        <span class="producto-precio">{{ producto.precio }}</span>
        <span class="producto-marca">{{ producto.marca }}</span>
        <a href="{% url 'producto' id=producto.id %}">Ver detalles</a>
      </div>
    </div>
    {% empty %}
    <p>No hay productos disponibles en este momento.</p>
    {% endfor %}
  </section>
{% endblock %}

