{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static 'imagenes/favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Rápido&Sabroso</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/vista1.css' %}">
</head>
<body>
    <div class="container">
        <!-- Logo -->
        <img src="{% static 'imagenes/DALL·E-2024-10-09-17.35 (1).png' %}" alt="Logo Rapido y Sabroso">

        <h2>Bienvenido</h2>
        
        <form method="post">
            {% csrf_token %}
            
            <div class="input_box">
                <input type="text" name="username" placeholder="Nombre" required>
            </div>
            
            <div class="input_box">
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            
            <input type="submit" value="Iniciar Sesión" class="submit_btn">
            <!--<br><a href="#" class="for_pass">Ingresar</a> -->
            <br><a href="{% url 'menu' %}" class="for_pass">No iniciar sesión</a>

            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</body>
</html>
