{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos de la Marca - {{ marca }}</title>
  <link rel="stylesheet" href="{% static 'app/css/menu.css' %}">
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <div class="logo">
          <a href="{% url 'menu' %}">RapidoYSabroso</a>
        </div>
        <ul class="nav-links">
          <li><a href="#">Categorias</a></li>
          <li><a href="#">Configuracion</a></li>
          <li><a href="#">Perfil</a></li>
          <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
        </ul>
      </div>
    </nav>
  </header>
  
  <main>
    <h2 class="text-center my-4">Productos de la Marca: {{ marca }}</h2>
    <section class="productos-container">
        {% for producto in productos %}
        <div class="producto-card">
          <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}" class="producto-imagen">
          <div class="producto-info">
            <h4 class="producto-nombre">{{ producto.nombre }}</h4>
            <p class="producto-descripcion">{{ producto.descripcion }}</p>
            <span class="producto-precio">{{ producto.precio }}</span>
            <br>
            <h4 class="producto-marca">{{ producto.marca }}</h4>
          </div>
        </div>
        {% empty %}
        <p>No hay productos disponibles en este momento.</p>
        {% endfor %}
      </section>
  </main>

  <footer class="text-center mt-5">
    <p>&copy; 2024 RapidoYSabroso. All rights reserved.</p>
  </footer>
</body>
</html>
