{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promociones Disponibles</title>
</head>
<body>
    <h1>Promociones Disponibles</h1>
    
    {% if promotions %}
        <ul>
            {% for promo in promotions %}
                <li>
                    <h2>{{ promo.promo }}</h2>
                    <ul>
                        {% for product in promo.details %}
                            <li>
                                <strong>{{ product.description }}</strong>: {{ product.price }} CLP
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay promociones disponibles en este momento.</p>
    {% endif %}
    
</body>
</html>
