{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - RapidoYSabroso</title>
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/menu.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <div class="logo">
          <a href="{% url 'menu' %}">RapidoYSabroso</a>
        </div>
        <ul class="nav-links">
          <li><a href="#">Categorias</a></li>
          <li><a href="#">Configuracion</a></li>
          <li><a href="#">Perfil</a></li>
          <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <section class="marcas-container container">
      <h2 class="text-center my-4">Marcas Disponibles</h2>
      <div class="marca-cards-container d-flex overflow-auto">
        <!-- Contenedor de las cartas en fila -->
        {% for marca in marcas_unicas %}
        <a href="{% url 'marca' marca=marca %}" class="marca-card text-center mx-3 p-3">
          <div class="card-body">
            <h4 class="marca-nombre">{{ marca }}</h4>
          </div>
        </a>
        {% endfor %}
      </div>
    </section>


    <section class="productos-container">
      {% for producto in productos %}
      <div class="producto-card">
        <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}" class="producto-imagen">
        <div class="producto-info">
          <h4 class="producto-nombre">{{ producto.nombre }}</h4>
          <p class="producto-descripcion">{{ producto.descripcion }}</p>
          <span class="producto-precio">{{ producto.precio }}</span>
          <br>
          <h4 class="producto-marca">{{ producto.marca }}</h4>
        </div>
      </div>
      {% empty %}
      <p>No hay productos disponibles en este momento.</p>
      {% endfor %}
    </section>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <footer>
    <p>&copy; 2024 RapidoYSabroso. All rights reserved.</p>
  </footer>
</body>

</html>
