{% extends 'service/baseplantillaNav.html' %}
{% load static %}
{% block title %}Producto {{ producto.nombre }} - RapidoYSabroso{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/detallepr.css' %}">
{% endblock %}

{% block content %}
<section class="producto-container">
    <div class="container">
        <div class="card">
            <div class="first-card">
                <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}">
                <h4>{{ producto.nombre }}</h4>
                <p>{{ producto.descripcion }}</p>
                <span class="producto-precio">{{ producto.precio }}</span>
                <span>{{ producto.marca }}</span>
                <form action="{% url 'agregar_a_orden' producto.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="boton-agregar-carrito">Agregar al carrito</button>
                </form>
            </div>
            <div class="back-card"></div>
            <div class="third-card"></div>
        </div>
    </div>

    <!-- Contenedor para el gráfico -->
    <div class="container">
        <div style="max-width: 600px; height: 400px; margin: auto;">
            <h2>Historial de Precios</h2>
            <svg id="historial-precios-chart" width="600" height="400"></svg>
        </div>
    </div>
    
    <!-- Pasar los datos de precios y fechas a JavaScript -->
    <script type="application/json" id="fechas-data">{{ fechas|safe }}</script>
    <script type="application/json" id="precios-data">{{ precios|safe }}</script>
</section>
{% endblock %}

{% block javascript %}
<!-- Cargar D3.js -->

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{% static 'app/js/detalle.js' %}"></script>

{% endblock %}
