{% extends 'service/baseplantillaNav.html' %}
{% load static %}
{% block title %}Producto {{ producto.nombre }} - Rápido&Sabroso{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/detallepr.css' %}">
{% endblock %}

{% block content %}
<section class="producto-container">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Tarjeta del producto -->
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ producto.imagen_url }}" class="img-fluid" alt="{{ producto.nombre }}">
                        <h4 class="card-title mt-3">{{ producto.nombre }}</h4>
                        <p class="card-text">{{ producto.descripcion }}</p>
                        <h5 class="text-precio">{{ producto.precio }}</h5>
                        <p class="text-muted">{{ producto.marca }}</p>
                        <form action="{% url 'agregar_a_orden' producto.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Agregar al carrito</button>
                        </form>
                        <br>
                        <button class="btn-historial " data-bs-toggle="modal" data-bs-target="#graficoModal">
                            Ver historial de precios
                        </button>
                        </br>
                    </div>
                </div>
                <!-- Botón para abrir el modal con el gráfico -->
            </div>
        </div>
    </div>
</section>

<!-- Modal para mostrar el gráfico -->
<div class="modal fade" id="graficoModal" tabindex="-1" aria-labelledby="graficoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="graficoModalLabel">Historial de Precios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="max-width: 600px; height: 400px; margin: auto;">
                    <svg id="historial-precios-chart" width="600" height="400"></svg>
                </div>
                <!-- Pasar los datos de precios y fechas a JavaScript -->
                <script type="application/json" id="fechas-data">{{ fechas|safe }}</script>
                <script type="application/json" id="precios-data">{{ precios|safe }}</script>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{% static 'app/js/detalle.js' %}"></script>
{% endblock %}
