{% extends 'service/baseplantillaNav.html' %}

{% block title %}Producto {{ producto.nombre }} - RapidoYSabroso{% endblock %}


{% block content %}
    <section class="producto-container">
        <div class="producto-card">
            <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}" class="producto-imagen">
            <div class="producto-info">
                <h4 class="producto-nombre">{{ producto.nombre }}</h4>
                <p class="producto-descripcion">{{ producto.descripcion }}</p>
                <span class="producto-precio">${{ producto.precio }}</span>
                <span class="producto-marca">{{ producto.marca }}</span>
                
            </div>
        </div>
    </section>
{% endblock %}
