<h1>Promociones</h1>
{% if menus %}
<ul>
    {% for menu in menus %}
    <li>
        <strong>Restaurante:</strong> {{ menu.restaurant }}<br>
        <strong>Promoción:</strong> {{ menu.promo }}<br>
        <strong>Detalles:</strong>
        <ul>
            {% for detail in menu.details %}
            <li>
                <strong>Descripción:</strong> {{ detail.description }}<br>
                <strong>Precio:</strong> {{ detail.price }}<br>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% else %}
    <p>No se encontraron menús disponibles.</p>
{% endif %}
