{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/RegistroTienda.css' %}">
<div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2"></div>
      <div class="col-lg-6 col-md-8 login-box">
        <div class="col-lg-12 login-key">
          <i class="fa fa-link" aria-hidden="true"></i>
        </div>
        <div class="col-lg-12 login-title">
          REGISTRO DE TIENDA
        </div>
  
        <div class="col-lg-12 login-form">
          <div class="col-lg-12 login-form">
            <form method="POST">
                {% csrf_token %}
                <!-- Campos del formulario -->
                <div class="form-group">
                    <label class="form-control-label">URL DE LA TIENDA</label>
                    <input type="url" class="form-control" name="url" placeholder="https://ejemplo.com" required>
                </div>
                <!-- Otros campos si son necesarios -->
                <div class="col-lg-6 login-btm login-button">
                    <button type="submit" class="btn btn-outline-primary">REGISTRAR</button>
                </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </div>
  