{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/RegistroTienda.css' %}">
<header class="top-header">
</header>

<div id="container" class="text-center mb-3">
  <a href="{% url 'menu' %}" class="learn-more">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
    <span class="button-text">Volver al menú</span>
  </a>
</div>

<!--dust particle-->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
<!--Dust particle end-->

<!-- Main container -->
<div class="container text-center text-dark d-flex justify-content-center align-items-center vh-90">
  <div class="row">
    <div class="col-lg-6 d-block mx-auto">
      <div class="row">
        <div class="col-xl-12 col-md-12 col-md-12">
          <div class="card">
            <div class="card-body wow-bg" id="formBg">
              <h2 class="colorboard text-center">Editar Selectores de Tienda</h2>
              <h4 class="colorboard text-center">Modifica los selectores según sea necesario</h4>

              <form method="POST">
                {% csrf_token %}
                <div class="mb-3">  <!-- Cambié input-group a div mb-3 -->
                  {{ form.as_p }}
                </div>

                <div class="row">
                  <div class="col-12">
                    <button type="submit" class="btn btn-animated btn-block logn-btn">Guardar Cambios</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
