{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static 'imagenes/favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - Rápido&Sabroso</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/registration/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/vista1.css' %}"> <!-- Nueva hoja de estilo -->
</head>
<body>
    <div class="container">
        <img src="{% static 'imagenes/DALL·E-2024-10-09-17.35 (1).png' %}" alt="Logo Rapido y Sabroso">
        <h2>Perfil de Usuario</h2>
        <form method="post">
            {% csrf_token %}
            <div class="input_box">
                <label for="username">Nombre de Usuario:</label>
                <input type="text" id="username" name="username" value="{{ user.username }}" readonly>
            </div>
            <div class="input_box">
                <label for="first_name">Nombre:</label>
                <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}">
            </div>
            <div class="input_box">
                <label for="last_name">Apellidos:</label>
                <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}">
            </div>
            <div class="input_box">
                <label for="email">Dirección de correo electrónico:</label>
                <input type="email" id="email" name="email" value="{{ user.email }}">
            </div>
            <input type="submit" value="Guardar Cambios" class="submit_btn">
            <a href="{% url 'menu' %}" class="for_pass">Volver al Menú</a>
        </form>
    </div>
</body>
</html>
