{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/registration/register.css' %}">
    <title>Registro de Usuario</title>
</head>
<body>
    <div class="container">
        <h2>Registro de Usuario</h2>
        
        <form method="POST" class="form-register">
            {% csrf_token %}
            <label for="username">Nombre de usuario</label>
            <input type="text" id="username" name="username" placeholder="Escribe tu usuario">

            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="Escribe tu contraseña">
            <p class="ayuda">Debe contener al menos 8 caracteres y no ser demasiado simple.</p>

            <label for="confirm-password">Confirma tu contraseña</label>
            <input type="password" id="confirm-password" name="confirm_password" placeholder="Repite tu contraseña">
            
            <button type="submit" class="btn-primary">Registrarse</button>
        </form>
        
        <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a>.</p>
    </div>
</body>
</html>
